/*an aubergine gradient going from light purple to dark purple, because its my favorite color.*/
.bytesized-regular {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
body {
    background: linear-gradient(90deg,#c36ece, #91129c);
}
/*radical dinosaur surfing up the waves frfr on drizzy*/
img {
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(30px 10px 40px #a7d1e9);
}
p {
    font-family: fantasy;
}
h1 {
    font-family: fantasy;
}
h2 {
    font-family: fantasy;
}
/*white text to differentiate from the black paragraphs*/
.caption {
    color: white;
    font-size: large;
}

.name {
    font-family: Bytesized;
}