/*an aubergine gradient going from light purple to dark purple, because its my favorite color.*/
body {
    background: linear-gradient(90deg,#c36ece, #91129c);

}
/*radical dinosaur surfing up the waves frfr on drizzy*/
img {
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(30px 10px 40px #a7d1e9);
}
/*
icl ts pmo sm n sb rn ngl,
r u srsly srs n fr rn vro? 
lol atp js go 💔… 
b fr vro, 
idek nm, 
brb gng gtg atm lmao, 
bt ts pyo 2 js lmk lol onb fr.
*/
p {
    font-family: fantasy;
}
h1 {
    font-family: fantasy;
}
h2 {
    font-family: fantasy;
}
/*white text to differentiate from the black paragraphs*/
.caption {
    color: white;
    font-size: large;
}